suzette.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Suzette</title>
        <author>John Westbrook</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the TEI Consortium
            (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.1.1" when="2024-08-16T18:40:29.497Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
    <revisionDesc>
      <change when="2024-09-12" who="#DKJ">Added more @subtypes</change>
      <change when="2024-09-05" who="#DKJ">Added multiple @type and @subtype attributes for
        rs</change>
      <change when="2024-09-03" who="#DKJ">Added matière_première to list of @type values for
        objectName</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI Complete</head>
      <p>This TEI customization describes a schema that includes <emph>all</emph> of the TEI P5
        modules. This is a very useful starting place for manually creating your own customizations
        — it is much easier to delete the modules you do not want than to add the modules you do.
        Furthermore this customization often proves helpful for testing TEI software.</p>
      <p>However, this particular TEI customization is <emph>not recommended</emph> for actual use
        for encoding documents. It produces schemas and reference documentation that will be much
        larger and include many more elements than almost anyone could conceivably ever need.
        Tempting though it may be simply to have absolutely everything, and <q>just ignore</q>
        elements not required, experience has shown that their presence makes the documentation
        harder to read and use, and makes a schema that is far more lax than desired.</p>
      <p>The <att>n</att> attribute of each <gi>moduleRef</gi> below reflects the chapter number of
        the TEI <title>Guidelines</title> in which the module being referenced is defined. Note that
        the modules are generally referred to in the order defined, with the exception that the
        module for <title level="a">Simple Analytic Mechanisms</title> is referred to before the
        module for <title level="a">Dictionaries</title>. This is because the class <name
          type="class">att.lexicographic.normalized</name> (which is defined in <name type="module"
            >analysis</name>) needs to be specified before the class <name type="class"
              >att.lexicographic</name> (which is defined in <name type="module"
                >dictionaries</name>).</p>
      <p>The first four modules are often called the <soCalled>required</soCalled> modules. However,
        these modules are not themselves technically required to create a TEI conformant markup
        language (let alone a useful non-TEI conformant markup language). Rather, they each contain
        one or more <emph>elements</emph> which are required for TEI conformance.</p>
      <schemaSpec ident="tei_all" start="TEI teiCorpus" prefix="suzette" targetLang="en"
        docLang="en">
        <moduleRef n="01" key="tei"/>
        <moduleRef n="02" key="header"/>
        <moduleRef n="03" key="core"/>
        <moduleRef n="04" key="textstructure"/>
        <moduleRef n="05" key="gaiji"/>
        <moduleRef n="06" key="verse"/>
        <moduleRef n="07" key="drama"/>
        <moduleRef n="08" key="spoken"/>
        <moduleRef n="09" key="cmc"/>
        <moduleRef n="18" key="analysis"/>
        <moduleRef n="10" key="dictionaries"/>
        <moduleRef n="11" key="msdescription"/>
        <moduleRef n="12" key="transcr"/>
        <moduleRef n="13" key="textcrit"/>
        <moduleRef n="14" key="namesdates"/>
        <!-- Attempting to create actionName element -->
        <elementSpec ident="actionName" mode="add" module="namesdates">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="acquisition" mode="add">
                  <desc versionDate="2024-09-05" xml:lang="fr">acquisition</desc>
                </valItem>
                <valItem ident="transformation" mode="add">
                  <desc versionDate="2024-09-05" xml:lang="fr">transformation</desc>
                </valItem>
                <valItem ident="dissemination" mode="add">
                  <desc versionDate="2024-09-05" xml:lang="fr">dissemination</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!-- Added attributes for objectName @type -->
        <elementSpec ident="objectName" mode="change" module="namesdates">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="ingrédient">
                  <desc versionDate="2024-08-16" xml:lang="fr">ingrédient</desc>
                </valItem>
                <valItem mode="add" ident="ustensile">
                  <desc versionDate="2024-08-16" xml:lang="fr">ustensile</desc>
                </valItem>
                <valItem mode="add" ident="mets">
                  <desc versionDate="2024-08-16" xml:lang="fr">mets</desc>
                </valItem>
                <valItem ident="produit" mode="add">
                  <desc versionDate="2024-09-12" xml:lang="fr">produit</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="éparco" mode="add">
                  <desc xml:lang="fr" versionDate="2024-09-10">épice, aromate, condiment</desc>
                </valItem>
                <valItem ident="légume" mode="add">
                  <desc xml:lang="fr" versionDate="2024-09-10">légume</desc>
                </valItem>
                <valItem ident="fruit" mode="add">
                  <desc xml:lang="fr" versionDate="2024-09-10">fruit</desc>
                </valItem>
                <valItem ident="poisson" mode="add">
                  <desc xml:lang="fr" versionDate="2024-09-10">poisson et fruit de mer</desc>
                </valItem>
                <valItem ident="carné" mode="add">
                  <desc xml:lang="fr" versionDate="2024-09-10">viande rouge, volaille, gibier</desc>
                </valItem>
                <valItem ident="laitier" mode="add">
                  <desc xml:lang="fr" versionDate="2024-09-10">produit laitier</desc>
                </valItem>
                <valItem ident="féculent" mode="add">
                  <desc xml:lang="fr" versionDate="2024-09-10">féculent</desc>
                </valItem>
<!--                <valItem ident="oléagineux" mode="add">
                  <desc xml:lang="fr" versionDate="2024-09-10">oléagineux</desc>
                </valItem>-->
                <valItem ident="animal" mode="add">
                  <desc versionDate="2024-09-12" xml:lang="fr">produit animal</desc>
                </valItem>
                <valItem ident="végétal" mode="add">
                  <desc versionDate="2024-09-12" xml:lang="fr">produit végétal</desc>
                </valItem>
                <valItem ident="minéral" mode="add">
                  <desc versionDate="2024-09-12" xml:lang="fr">produit minéral</desc>
                </valItem>
                <valItem ident="fabriqué" mode="add">
                  <desc versionDate="2024-09-12" xml:lang="fr">produit fabriqué</desc>
                </valItem>
                <valItem ident="boisson" mode="add">
                  <desc versionDate="2024-10-17" xml:lang="fr">boisson</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!--Added attributes for rs @type and @subtype -->
        <elementSpec ident="rs" mode="change" module="namesdates">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="action" mode="add">
                  <desc versionDate="2024-09-05" xml:lang="fr">action</desc>
                </valItem>
                <valItem ident="évaluation" mode="change">
                  <desc versionDate="2024-09-05" xml:lang="fr">évaluation</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="acquisition" mode="add">
                  <desc versionDate="2024-09-05" xml:lang="fr">acquisition</desc>
                </valItem>
                <valItem ident="transformation" mode="add">
                  <desc versionDate="2024-09-05" xml:lang="fr">transformation</desc>
                </valItem>
                <valItem ident="dissemination" mode="add">
                  <desc versionDate="2024-09-05" xml:lang="fr">dissemination</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <moduleRef n="15" key="figures"/>
        <moduleRef n="16" key="corpus"/>
        <moduleRef n="17" key="linking"/>
        <moduleRef n="19" key="iso-fs"/>
        <moduleRef n="20" key="nets"/>
        <moduleRef n="22" key="certainty"/>
        <moduleRef n="23" key="tagdocs"/>
      </schemaSpec>
    </body>
  </text>
</TEI>