suzette.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Suzette ODD</title>
        <author>Diane Jakacki</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally
            appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further
            information or clarification, please contact the TEI Consortium (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2024-01-19" who="#JAKA1">Reconfigured schema file</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="suzette" start="TEI teiCorpus" targetLang="en" docLang="en">
        <!--removing prefix_tei-->
        <moduleRef key="tei" />
        <!-- required -->
        <moduleRef key="core" />
        <moduleRef key="analysis" />
        <moduleRef key="certainty" />
        <moduleRef key="corpus" />
        <moduleRef key="dictionaries" />
        <moduleRef key="drama" />
        <moduleRef key="figures" />
        <moduleRef key="header" />
        <moduleRef key="linking" />
        <moduleRef key="msdescription" />
        <moduleRef key="namesdates" />
        <moduleRef key="textcrit" />
        <moduleRef key="textstructure" />
        <moduleRef key="transcr" />
        <moduleRef key="tagdocs" />
        <!-- Customize DIV with @type  -->
        <elementSpec ident="div" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="chapitre">
                  <desc>Chapitre</desc>
                </valItem>
                <valItem ident="exercices" mode="add">
                  <desc>Exercices</desc>
                </valItem>
                <valItem mode="add" ident="questionnaire">
                  <desc>Questionnaire</desc>
                </valItem>
                <valItem mode="add" ident="récit">
                  <desc>Récit</desc>
                </valItem>
                <valItem ident="morale" mode="add">
                  <desc>Morale</desc>
                </valItem>
                <valItem ident="instruction_civique" mode="add">
                  <desc>Instruction civique</desc>
                </valItem>
                <valItem ident="civilité" mode="add">
                  <desc>Civilité</desc>
                </valItem>
                <valItem ident="français" mode="add">
                  <desc>Français</desc>
                </valItem>
                <valItem ident="composition" mode="add">
                  <desc>Composition</desc>
                </valItem>
                <valItem ident="histoire" mode="add">
                  <desc>Histoire</desc>
                </valItem>
                <valItem ident="horticulture" mode="add">
                  <desc>Horticulture</desc>
                </valItem>
                <valItem ident="géographie" mode="add">
                  <desc>Géographie</desc>
                </valItem>
                <valItem ident="sciences_naturelles" mode="add">
                  <desc>Sciences naturelle</desc>
                </valItem>
                <valItem ident="sciences_physiques" mode="add">
                  <desc>Sciences physiques</desc>
                </valItem>
                <valItem ident="industrie" mode="add">
                  <desc>Industrie</desc>
                </valItem>
                <valItem ident="économie_domestique" mode="add">
                  <desc>Économie domestique</desc>
                </valItem>
                <valItem ident="hygiène" mode="add">
                  <desc>Hygiène</desc>
                </valItem>
                <valItem ident="agriculture" mode="add">
                  <desc>Agriculture</desc>
                </valItem>
                <valItem ident="calcul" mode="add">
                  <desc>Calcul</desc>
                </valItem>
                <valItem ident="questions" mode="add">
                  <desc>Questions</desc>
                </valItem>
                <valItem ident="réponses" mode="add">
                  <desc>Réponses</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- persName: add  @type -->
        <elementSpec ident="persName" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="historique" mode="add">
                  <desc xml:lang="fr">historique</desc>
                </valItem>
                <valItem ident="fictif" mode="add">
                  <desc xml:lang="fr">fictif</desc>
                </valItem>
                <valItem ident="standard" mode="add">
                  <desc xml:lang="en">standard</desc>
                </valItem>
                <valItem ident="preferred" mode="add">
                  <desc xml:lang="en">standard</desc>
                </valItem>
                <valItem ident="variant" mode="add">
                  <desc xml:id="en">variant</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="xml:space" mode="delete" />
            <attDef ident="xml:base" mode="delete" />
            <attDef ident="rendition" mode="delete" />
            <attDef ident="style" mode="delete" />
            <attDef ident="rend" mode="delete" />
            <attDef ident="corresp" mode="delete" />
            <attDef ident="synch" mode="delete" />
            <attDef ident="sameAs" mode="delete" />
            <attDef ident="copyOf" mode="delete" />
            <attDef ident="next" mode="delete" />
            <attDef ident="prev" mode="delete" />
            <attDef ident="exclude" mode="delete" />
            <attDef ident="select" mode="delete" />
            <attDef ident="facs" mode="delete" />
            <attDef ident="change" mode="delete" />
            <attDef ident="nymRef" mode="delete" />
            <attDef ident="sort" mode="delete" />
            <attDef ident="full" mode="delete" />
            <attDef ident="instant" mode="delete" />
            <attDef ident="evidence" mode="delete" />
            <attDef ident="datingMethod" mode="delete" />
            <attDef ident="datingPoint" mode="delete" />
            <attDef ident="to-custom" mode="delete" />
            <attDef ident="from-custom" mode="delete" />
            <attDef ident="notAfter-custom" mode="delete" />
            <attDef ident="notBefore-custom" mode="delete" />
            <attDef ident="when-custom" mode="delete" />
            <attDef ident="to-iso" mode="delete" />
            <attDef ident="from-iso" mode="delete" />
            <attDef ident="notAfter-iso" mode="delete" />
            <attDef ident="notBefore-iso" mode="delete" />
            <attDef ident="when-iso" mode="delete" />
            <attDef ident="to" mode="delete" />
            <attDef ident="from" mode="delete" />
            <attDef ident="notAfter" mode="delete" />
            <attDef ident="notBefore" mode="delete" />
            <attDef ident="when" mode="delete" />
            <attDef ident="period" mode="delete" />
            <attDef ident="calendar" mode="delete" />
            <attDef ident="source" mode="delete" />
          </attList>
        </elementSpec>
        
        <!-- ALL PLACE ATTRIBUTE VALUES -->
        <!-- placeName: @type (real or fictif) -->
        <elementSpec ident="placeName" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="réel" mode="add">
                  <desc xml:lang="fr">réel</desc>
                </valItem>
                <valItem ident="fictif" mode="add">
                  <desc xml:lang="fr">fictif</desc>
                </valItem>
                <valItem ident="région_de_production" mode="add">
                  <desc>région de production</desc>
                </valItem>
                <valItem ident="région_culinaire" mode="add">
                  <desc>région culinaire</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- Customize FIGURE to include @type illustration or sujets -->
        <elementSpec ident="figure" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="change" type="closed">
                <valItem ident="illustration" mode="add">
                  <desc versionDate="2020-06-07" xml:lang="fr">Illustration</desc>
                </valItem>
                <valItem ident="sujets" mode="add">
                  <desc versionDate="2020-06-07" xml:lang="fr">Sujets</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <!-- Customize LIST @type to distinguish between exercices and questionnaire  -->
        <elementSpec ident="list" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="exercices" mode="add">
                  <desc>Exercices</desc>
                </valItem>
                <valItem ident="questionnaire" mode="add">
                  <desc>Questionnaire</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- Starting objectName taxonomy -->
        <elementSpec ident="objectName" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="argile" mode="add">
                  <desc>Argile</desc>
                </valItem>
                <valItem ident="sable" mode="add">
                  <desc>Sable</desc>
                </valItem>
                <valItem ident="pierres" mode="add">
                  <desc>Pierres</desc>
                </valItem>
                <valItem ident="cliaux" mode="add">
                  <desc>Cliaux</desc>
                </valItem>
                <valItem ident="plâtre" mode="add">
                  <desc>Plâtre</desc>
                </valItem>
                <valItem ident="pierres_précieuses">
                  <desc>Pierres précieuses</desc>
                </valItem>
                <valItem ident="houille" mode="add">
                  <desc>Houille</desc>
                </valItem>
                <valItem ident="pétrole" mode="add">
                  <desc>Pétrole</desc>
                </valItem>
                <valItem ident="carbone" mode="add">
                  <desc>Carbone</desc>
                </valItem>
                <valItem ident="eau_composition" mode="add">
                  <desc>Eau, sa composition</desc>
                </valItem>
                <valItem ident="puits" mode="add">
                  <desc>Puits</desc>
                </valItem>
                <valItem ident="eau_potable" mode="add">
                  <desc>Eau potable</desc>
                </valItem>
                <valItem ident="granit" mode="add">
                  <desc>Granit</desc>
                </valItem>
                <valItem ident="silex" mode="add">
                  <desc>Silex</desc>
                </valItem>
                <valItem ident="sel" mode="add">
                  <desc>sel</desc>
                </valItem>
                <valItem ident="marais_salants" mode="add">
                  <desc>Marais salants</desc>
                </valItem>
                <valItem ident="corail" mode="add">
                  <desc>Le corail</desc>
                </valItem>
                <valItem ident="fer" mode="add">
                  <desc>Le fer</desc>
                </valItem>
                <valItem ident="cuivre" mode="add">
                  <desc>Le cuivre</desc>
                </valItem>
                <valItem ident="bronze" mode="add">
                  <desc>Le bronze</desc>
                </valItem>
                <valItem ident="plomb" mode="add">
                  <desc>Le plomb</desc>
                </valItem>
                <valItem ident="argent" mode="add">
                  <desc>L'argent</desc>
                </valItem>
                <valItem ident="or" mode="add">
                  <desc>L'or</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
