suzette-NewCustom.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Suzette ODD</title>
        <author>Diane Jakacki</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally
            appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further
            information or clarification, please contact the TEI Consortium (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="suzette-NewCustom" start="TEI teiCorpus" targetLang="en" docLang="en">
        <!--removing prefix_tei-->
        <moduleRef key="tei" />
        <!-- required -->
        <moduleRef key="core" />
        <moduleRef key="analysis" />
        <moduleRef key="certainty" />
        <moduleRef key="corpus" />
        <moduleRef key="dictionaries" />
        <moduleRef key="drama" />
        <moduleRef key="figures" />
        <moduleRef key="header" />
        <moduleRef key="linking" />
        <moduleRef key="msdescription" />
        <moduleRef key="namesdates" />
        <moduleRef key="textcrit" />
        <moduleRef key="textstructure" />
        <moduleRef key="transcr" />
        <moduleRef key="tagdocs" />
        <!-- Customize DIV1 with @type chapitre -->
        <elementSpec ident="div1" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="chapitre">
                  <desc versionDate="2020-05-06">Chapitre</desc>
                </valItem>
                <valItem mode="add" ident="autre">
                  <desc versionDate="2020-05-06">Autre (if used often, add another value)</desc>
                </valItem>
                <valItem mode="add" ident="chapter">
                  <desc versionDate="2023-04-22">Chapter (for Dynamic Table of Contexts)</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!-- Customize DIV2 to distinguish three kinds of content: Récit, Questionnaire, and Exercices -->
        <elementSpec ident="div2" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="exercices" mode="add">
                  <desc versionDate="2020-06-06" xml:lang="fr">Exercices</desc>
                </valItem>
                <valItem mode="add" ident="questionnaire">
                  <desc versionDate="2020-06-06" xml:lang="fr">Questionnaire</desc>
                </valItem>
                <valItem mode="add" ident="récit">
                  <desc versionDate="2020-06-06" xml:lang="fr">Récit</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!-- Customize DIV3 to add key terms from Classification -->
        <elementSpec ident="div3" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="morale" mode="add" />
                <valItem ident="instruction_civique" mode="add" />
                <valItem ident="civilité" mode="add" />
                <valItem ident="français" mode="add" />
                <valItem ident="composition" mode="add" />
                <valItem ident="histoire" mode="add" />
                <valItem ident="horticulture" mode="add" />
                <valItem ident="géographie" mode="add" />
                <valItem ident="sciences_naturelles" mode="add" />
                <valItem ident="sciences_physiques" mode="add" />
                <valItem ident="industrie" mode="add" />
                <valItem ident="économie_domestique" mode="add" />
                <valItem ident="hygiène" mode="add" />
                <valItem ident="agriculture" mode="add" />
                <valItem ident="calcul" mode="add" />
                <valItem ident="complexe" mode="add" />
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!-- Within DIV4 cutomize @type to distinguish questions and réponses -->
        <elementSpec ident="div4" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="questions" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Questions</desc>
                </valItem>
                <valItem ident="réponses" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Réponses</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <!-- persName: add  @type -->
        <elementSpec ident="persName" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="historique" mode="add">
                  <desc xml:lang="fr">historique</desc>
                </valItem>
                <valItem ident="fictif" mode="add">
                  <desc xml:lang="fr">fictif</desc>
                </valItem>
                <valItem ident="standard" mode="add">
                  <desc xml:lang="en">standard</desc>
                </valItem>
                <valItem ident="preferred" mode="add">
                  <desc xml:lang="en">standard</desc>
                </valItem>
                <valItem ident="variant" mode="add">
                  <desc xml:id="en">variant</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="xml:space" mode="delete" />
            <attDef ident="xml:base" mode="delete" />
            <attDef ident="rendition" mode="delete" />
            <attDef ident="style" mode="delete" />
            <attDef ident="rend" mode="delete" />
            <attDef ident="corresp" mode="delete" />
            <attDef ident="synch" mode="delete" />
            <attDef ident="sameAs" mode="delete" />
            <attDef ident="copyOf" mode="delete" />
            <attDef ident="next" mode="delete" />
            <attDef ident="prev" mode="delete" />
            <attDef ident="exclude" mode="delete" />
            <attDef ident="select" mode="delete" />
            <attDef ident="facs" mode="delete" />
            <attDef ident="change" mode="delete" />
            <attDef ident="nymRef" mode="delete" />
            <attDef ident="sort" mode="delete" />
            <attDef ident="full" mode="delete" />
            <attDef ident="instant" mode="delete" />
            <attDef ident="evidence" mode="delete" />
            <attDef ident="datingMethod" mode="delete" />
            <attDef ident="datingPoint" mode="delete" />
            <attDef ident="to-custom" mode="delete" />
            <attDef ident="from-custom" mode="delete" />
            <attDef ident="notAfter-custom" mode="delete" />
            <attDef ident="notBefore-custom" mode="delete" />
            <attDef ident="when-custom" mode="delete" />
            <attDef ident="to-iso" mode="delete" />
            <attDef ident="from-iso" mode="delete" />
            <attDef ident="notAfter-iso" mode="delete" />
            <attDef ident="notBefore-iso" mode="delete" />
            <attDef ident="when-iso" mode="delete" />
            <attDef ident="to" mode="delete" />
            <attDef ident="from" mode="delete" />
            <attDef ident="notAfter" mode="delete" />
            <attDef ident="notBefore" mode="delete" />
            <attDef ident="when" mode="delete" />
            <attDef ident="period" mode="delete" />
            <attDef ident="calendar" mode="delete" />
            <attDef ident="source" mode="delete" />
          </attList>
        </elementSpec>
        
        <!-- ALL PLACE ATTRIBUTE VALUES -->
        <!-- placeName: @type (real or fictif) -->
        <elementSpec ident="placeName" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="réel" mode="add">
                  <desc xml:lang="fr">réel</desc>
                </valItem>
                <valItem ident="fictif" mode="add">
                  <desc xml:lang="fr">fictif</desc>
                </valItem>
                <valItem ident="authority" mode="add">
                  <desc>authority place name</desc>
                </valItem>
                <valItem ident="variant" mode="add">
                  <desc>variant place name</desc>
                </valItem>
                <valItem ident="région_de_production" mode="add">
                  <desc>région de production</desc>
                </valItem>
                <valItem ident="région_culinaire" mode="add">
                  <desc>région culinaire</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <!-- div3: add  @subtype where type is geographie (list of places from classification) -->
        <elementSpec ident="div3" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="delete" />
            <memberOf key="att.editLike" mode="delete" />
            <memberOf key="att.personal" mode="delete" />
          </classes>
          <attList>
            <attDef ident="subtype" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="afrique" mode="add">
                  <desc>Afrique</desc>
                </valItem>
                <valItem ident="amérique" mode="add">
                  <desc>Amérique</desc>
                </valItem>
                <valItem ident="asie" mode="add">
                  <desc>Asie</desc>
                </valItem>
                <valItem ident="europe" mode="add">
                  <desc>Europe</desc>
                </valItem>
                <valItem ident="france" mode="add">
                  <desc>France</desc>
                </valItem>
                <valItem ident="océanie" mode="add">
                  <desc>Océanie</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- Customize FIGURE to include @type illustration or sujets -->
        <elementSpec ident="figure" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="change" type="closed">
                <valItem ident="illustration" mode="add">
                  <desc versionDate="2020-06-07" xml:lang="fr">Illustration</desc>
                </valItem>
                <valItem ident="sujets" mode="add">
                  <desc versionDate="2020-06-07" xml:lang="fr">Sujets</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <!-- Customize LIST @type to distinguish between exercices and questionnaire  -->
        <elementSpec ident="list" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="add" type="closed">
                <valItem ident="exercices" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Exercices</desc>
                </valItem>
                <valItem ident="questionnaire" mode="add">
                  <desc versionDate="2020-06-02" xml:lang="fr">Questionnaire</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
